<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
<div {{#if isDarkTheme}}class="dark"{{/if}}>
    {{{body}}}
</div>
</body>
</html>
